header {
  position: sticky;

  h1 {
    //   font-size: 1.5rem;
    font-family: "Barrio", cursive;
  }

  // background-color: $background;
  background-color: $secondary-color;
  color: $text-color;
  height: 4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  :hover {
    cursor: pointer;
  }
  ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    li {
      padding: 0.5rem;
    }
  }
}
