.home-page {
  display: flex;
}

main {
  // @include dfcc;
  padding: 1rem 0 0 0;
}

section {
  min-width: 300px;
  max-width: 80vw;

  margin: 1rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
