$background: var(--background);
$text-color: var(--text-color);
$secondary-color: var(--secondary-color);

:root {
  // --background: rgb(251, 245, 245);
  --background: #e6e6e6;
  --text-color: black;
  --secondary-color: rgb(255, 255, 255);
}
.dark {
  --secondary-color: #3a3a3a;
  --background: #292929;
  --text-color: rgb(251, 245, 245);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #292929;
    --text-color: rgb(251, 245, 245);
  }
}

@mixin dfcc {
  display: flex;
  align-items: center;
  justify-content: center;
} ;
